
{% extends "base.html" %}
 {% block aboutactive%}active{% endblock aboutactive %}
 {% block title %}About {% endblock title %}
{% block body %}



 <div class="container">
        <h3 class="text-center my-1 py-1">Me at a glance</h3>
        <div class="row ">
           <div class="col-md-3">
               <div class="card text-center" style="width: 18rem;">
  <img src=https://source.unsplash.com/200x100/?html,css" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Designer</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
               </div>
             </div>
<div class="col-md-3">
  <div class="card text-center" style="width: 18rem;">
  <img src=https://source.unsplash.com/200x100/?php" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Developer</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

  </div>
  </div>
  </div>
<div class="col-md-3">
            <div class="card text-center" style="width: 18rem;">
  <img src=https://source.unsplash.com/200x100/?android" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Programer</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>

    </div>

        </div>
            <div class="col-md-3">
            <div class="card text-center" style="width: 18rem;">
  <img src=https://source.unsplash.com/200x100/?java" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Creater</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
            </div>
            </div>
        </div>
    </div>

       {% endblock body %}